<% include ../partials/header.ejs %>

    <div class="row">
      <div class="column" style="margin-top: 25%">
        <h4>Getting started with <%= title%></h4>
        <p>Getting started is as easy as Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam animi, repudiandae neque et nisi quae a veniam. Corrupti sequi, totam ullam quod voluptatibus eum obcaecati dolores, nemo placeat possimus, impedit!</p>

      	<a href="/auth/login" class="button">Login</a>
      	<a href="/auth/signup" class="button button-primary">Sign up</a>

        <p>If you are done, head back to <a href="/">homepage</a></p>
      </div>
    </div>
<% include ../partials/footer.ejs %>
