<% include ../partials/header.ejs %>

<div class="container">
<div class="row"  style="margin-top: 10%">
  <div class="one-half column">
    <h4>Login</h4>
    <p>To continue with secure accounts, Log in. If you haven't already created an account, Click to <a href="/auth/signup">Signup</a>. If you need some help hit up the <a href="/gettingStarted">Getting Started tutorial</a>.</p>
</div>
<div class="one-half column">
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/auth/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="button button-primary full-width">Login</button>
    </form>

    <p>Need to create an account? <a href="/auth/signup">Signup</a><br>
    Or go <a href="/">home</a>.</p>


  </div>
</div>
</div>




<% include ../partials/footer.ejs %>